<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <p><%= @subtitle %></p>
    
    <form method="post" action="select">
      <p>user:<input type="text" name="body1"></p>
      <p>password:<input type="password" name="body2"></p>
      <input type="submit" value="login">
    </form>  
  </body>
</html>

